In [ ]:
import sqlalchemy

In [ ]:
user = 'hankyoul0919'
password = 'Hankyoul09191!'

In [ ]:
sql_conn_str = 'postgresql://{user}:{password}@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev'.format(
    user=user,
    password=password
)

In [ ]:
sqlalchemy.create_engine(sql_conn_str)

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Engine(postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev)

* % : ipython의 magic command https://ipython.readthedocs.io/en/stable/interactive/magics.html

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://hankyoul0919:Hankyoul09191!@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: hankyoul0919@dev'

* DDL
  * CREATE table, DROP table, ALTER table, TRANCATE table <br>
    * TRANCATE table가 DELETE FROM table 보다 모든 내용 삭제시에는 여러모로 유리

* DML
  * SELECT, INSERT, UPDATE, DELETE

    * SELECT col_name <br>
      FROM table  &nbsp;&nbsp;&nbsp;&nbsp; ----> WITH temp as (SELECT ...) SELECT * FROM temp <br>
      JOIN another_table &nbsp;&nbsp;&nbsp;&nbsp; ----> &nbsp;&nbsp;&nbsp;&nbsp; INNER JOIN / LEFT JOIN / RIGHT JOIN / FULL JOIN / CROSS JOIN <br>
      ON key_column  ---> INNER JOIN일 때 col_name이 같으면 USING() 사용 가능<br>
      WHERE condition <br>
      IN / NOT IN / BETWEEN / LIKE / ILIKE &nbsp;&nbsp;&nbsp;&nbsp; -----> &nbsp;&nbsp;&nbsp;&nbsp; ILIKE은 대소문자  구별X <br>

      * JOIN 관련 : <br>
      두 테이블을 조인할 때 교집합에서 제외되는 부분이 있을 수 있기 때문에 항상 유념해야하고 LEFT JOIN / RIGHT JOIN을 활용하여 누락을 피하자 <br>


  * INSERT INTO vs. COPY <br>
  : INSERT INTO is slower than COPY(표준SQL은 없는 기능)
      * INSERT INTO table_name SELECT * FROM ... &nbsp;&nbsp;&nbsp;&nbsp;     ---> &nbsp;&nbsp;&nbsp;&nbsp; 필드 타입을 정할 수 있음
      * CREATE TABLE table_name as SELECT 

<br>
<br>
<br>

* *PRACTICE*<br>

raw_data.channel의 채널별 사용자수 세기

In [ ]:
%sql select channelname, count(distinct(userid)) from raw_data.channel c left join raw_data.user_session_channel u on c.channelname = u.channel group by 1 order by 2 desc;

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('Instagram', 895),
 ('Organic', 895),
 ('Google', 893),
 ('Youtube', 889),
 ('Facebook', 889),
 ('Naver', 882),
 ('TIKTOK', 0)]

<br><br>
* *practic*
사용자별로 처음 채널과 마지막 채널 알아내기<br>

SELECT ts, channel <br>
FROM raw_data.user_session_channel usc <br>
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid <br>
WHERE userid = 251 <br>
ORDER BY 1 <br>
보다는

In [ ]:
%%sql 
select distinct userid, 
first_value(channel) over (
    partition by userid
    order by ts
    rows between 
    unbounded preceding
    and unbounded following
) as first_channel,
last_value(channel) over (
    partition by userid
    order by ts
    rows between 
    unbounded preceding
    and unbounded following
) as last_channel
from raw_data.user_session_channel as u
left join raw_data.session_timestamp as s
on u.sessionid = s.sessionid
order by userid
limit 10
;

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (34, 'Youtube', 'Naver'),
 (36, 'Naver', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (41, 'Facebook', 'Youtube'),
 (44, 'Naver', 'Instagram'),
 (45, 'Youtube', 'Instagram'),
 (59, 'Instagram', 'Instagram')]

<br><br><br>
ASSIGNMENT 2 <br>
* Gross Revenue가 가장 큰 UserID 10개 찾기

** 참고 <br>
session_transaction table에서<br>
&emsp; refunded = False : 942 <br>
&emsp; refunded = True  : 54
<br>
총 세션 수 996, 유저수 949

In [ ]:
%%sql
select u.userid, sum(s.amount) as gross_renevue
from raw_data.session_transaction as s
left join raw_data.user_session_channel as u 
on s.sessionid = u.sessionid
group by u.userid
order by 2 desc
limit 10;

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

<br><br>
ASSIGNMENT 3
<br>

* 채널별 월 매출액 테이블 만들기<br>
session_timestamp, user_session_channel, channel, transaction 테이블들을 사용<br>
channel에 있는 모든 채널에 대해 구성해야함 (값이 없는 경우라도)<br>
1. month &nbsp;
2. channel &nbsp; 
3. uniqueUsers(총 방문 사용자) &nbsp; 
4. paidUsers(구매 사용자) &nbsp; 
5. conversionRate (구매사용자 / 총방문 사용자) &nbsp; 
6. grossRevenue (refund 포함) &nbsp; 
7. netRevenue (refund 제외)

--> month : session_timestamp <br>
--> channel : channel <br>
--> uniqueUsers : user_session_channel <br>
--> paidUsers : session_transaction <br>
--> conversionRate : paidUsers/uniqueUsers <br>
--> grossRevenue : session_transaction <br>
--> netRevenue : session_transaction <br>

channel : channelname <br>
session_timestamp : sessionid / ts <br>
session_transaction : refunded / amount / sessionid <br>
user_session_channel : userid / sessionid / channel <br>

<br>

1. 월별로 grouping
2. 채널별로 grouping
3. 총 방문자는 distinct userid로 count
4. 구매이용자는 count에 조건을 부여하여 distinct userid를 count
5. 구매이용자가 0일 경우에는 division by zero error가 발생하므로 nullif로 exception처리 
6. amount의 합
7. refunded가 false인 amount의 합

※ hankyoul0919 schema에 해당 테이블을 만들었음

In [ ]:
%%sql

select 
date_part(mon,tm.ts) as month,
c.channelname as channel,
count(distinct u.userid) as uniqueUsers,
count(distinct (case when tr.refunded is not null then u.userid end)) as paidUsers,
paidUsers*100.0/nullif(uniqueUsers,0) as conversionRate,
sum(tr.amount) as grossRevenue,
sum(case when tr.refunded is false then tr.amount else 0 end) as netRevenue
from raw_data.channel as c
left join raw_data.user_session_channel as u on c.channelname = u.channel
left join raw_data.session_timestamp as tm on tm.sessionid = u.sessionid
full join raw_data.session_transaction as tr on tr.sessionid = tm.sessionid
group by 1, 2
order by 1, 2
limit 10;

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(5.0, 'Facebook', 247, 14, Decimal('5.668016194331983'), 1199, 997),
 (5.0, 'Google', 253, 10, Decimal('3.952569169960474'), 580, 580),
 (5.0, 'Instagram', 234, 11, Decimal('4.700854700854700'), 959, 770),
 (5.0, 'Naver', 237, 11, Decimal('4.641350210970464'), 867, 844),
 (5.0, 'Organic', 238, 17, Decimal('7.142857142857142'), 1846, 1571),
 (5.0, 'Youtube', 244, 10, Decimal('4.098360655737704'), 529, 529),
 (6.0, 'Facebook', 414, 22, Decimal('5.314009661835748'), 1578, 1578),
 (6.0, 'Google', 412, 13, Decimal('3.155339805825242'), 947, 947),
 (6.0, 'Instagram', 410, 21, Decimal('5.121951219512195'), 1462, 1418),
 (6.0, 'Naver', 398, 15, Decimal('3.768844221105527'), 1090, 1090)]

In [ ]:
%%sql

select month, avg(conversionrate) as conversionrate, sum(grossrevenue) as grossrevenue, sum(netrevenue) as netrevenue
from hankyoul0919.sales
group by 1
order by 1

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[(5.0, Decimal('5.034001345785411'), 5980, 5291),
 (6.0, Decimal('4.162588253943887'), 7248, 7015),
 (7.0, Decimal('4.674749511782309'), 11033, 10479),
 (8.0, Decimal('3.794549945785449'), 9807, 9011),
 (9.0, Decimal('3.680174859107921'), 9966, 9647),
 (10.0, Decimal('4.489792438013689'), 14317, 13756),
 (11.0, Decimal('4.501658380374111'), 14472, 13602),
 (None, None, None, 0)]

<br><br><br>
ASSIGNMENT 4
<br>
* 월별 코호트 MAU (Monthly Active User) 테이블 만들기<br>

  1. 우선 sql로 월별, userid별로 group by 한 결과를 가져온다.
  2. 해당 결과를 Dataframe으로 만들고 userid list의 column name을 userids로 설정하고 'month' column을 index로 설정한다.
  3. 그 후 새로운 Dataframe(mautable)을 만들고 이중 for문을 이용해 각 row의 month1은 해당 달의 신규접속자, month2부터 month7까지는 몇 명의 신규접속자가 그 후 몇달 동안 접속했는지 계산하여 각 위치에 값을 기입한다.

In [ ]:
# sql로 월별, userid별로 group by 한 결과를 가져온다.
result = %sql select extract(month from s.ts) as month, u.userid from raw_data.user_session_channel u left join raw_data.session_timestamp s on u.sessionid = s.sessionid group by 1,2 order by 1,2

# 해당 결과를 Dataframe으로 만든다
df = result.DataFrame()

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4148 rows affected.

In [ ]:
df.head()

   month  userid
0      5      27
1      5      29
2      5      33
3      5      34
4      5      36

In [ ]:
# userid list의 column name을 userids로 설정한다.
monthlyusers = df.groupby('month')['userid'].apply(list).reset_index(name='userids')

In [ ]:
# 'month' column을 index로 설정한다.
monthlyusers = monthlyusers.set_index('month')

In [ ]:
import pandas as pd

In [ ]:
# 새로운 Dataframe(mautable)을 만든다.
mautable = pd.DataFrame(data=None,index=[5,6,7,8,9,10,11], columns=['month1','month2','month3','month4','month5','month6','month7'])

In [ ]:
mautable

   month1 month2 month3 month4 month5 month6 month7
5     NaN    NaN    NaN    NaN    NaN    NaN    NaN
6     NaN    NaN    NaN    NaN    NaN    NaN    NaN
7     NaN    NaN    NaN    NaN    NaN    NaN    NaN
8     NaN    NaN    NaN    NaN    NaN    NaN    NaN
9     NaN    NaN    NaN    NaN    NaN    NaN    NaN
10    NaN    NaN    NaN    NaN    NaN    NaN    NaN
11    NaN    NaN    NaN    NaN    NaN    NaN    NaN

In [70]:
for i in range(5,12) :
  print(list(monthlyusers.loc[i,:])[0])

[27, 29, 33, 34, 36, 40, 41, 44, 45, 59, 64, 65, 68, 69, 80, 84, 87, 97, 112, 113, 114, 117, 163, 181, 184, 187, 191, 193, 196, 197, 198, 199, 203, 204, 207, 210, 213, 216, 218, 222, 223, 225, 226, 227, 229, 230, 231, 232, 233, 236, 237, 240, 243, 246, 248, 250, 251, 253, 255, 256, 258, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 278, 282, 301, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 494, 510, 511, 533, 538, 543, 572, 586, 587, 599, 626, 643, 645, 654, 661, 676, 682, 683, 686, 694, 698, 699, 700, 702, 706, 707, 708, 710, 711, 712, 732, 735, 738, 744, 750, 752, 757, 763, 765, 768, 771, 772, 774, 778, 779, 780, 782, 785, 786, 787, 788, 789, 790, 793, 795, 801, 803, 805, 808, 810, 812, 822, 825, 830, 832, 836, 841, 845, 847, 849, 852, 855, 858, 867, 873, 876, 879, 887, 889, 891, 897, 899, 901, 905, 907, 909, 913, 917, 919, 921, 923, 929, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 963, 965, 967, 969, 971, 973, 975, 977, 979, 983, 985, 987, 989, 993, 995, 997, 998, 1001, 1003, 1005, 1007, 1009, 1011, 1015, 1023, 1027, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1069, 1073, 1075, 1079, 1081, 1083, 1087, 1089, 1091, 1093, 1099, 1103, 1109, 1111, 1117, 1121, 1125, 1127, 1133, 1135, 1137, 1139, 1141, 1145, 1151, 1155, 1157, 1159, 1163, 1165, 1167, 1169, 1171, 1177, 1179, 1181, 1183, 1187, 1189, 1191, 1193, 1197, 1203, 1205, 1211]
[27, 29, 33, 34, 36, 40, 41, 44, 45, 59, 64, 69, 80, 84, 87, 97, 113, 114, 117, 181, 184, 187, 191, 193, 196, 197, 198, 199, 203, 204, 207, 210, 213, 216, 218, 222, 223, 225, 226, 227, 229, 230, 231, 232, 233, 236, 237, 240, 243, 246, 248, 250, 251, 254, 255, 256, 257, 258, 259, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 278, 282, 301, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 494, 510, 511, 533, 538, 543, 572, 586, 587, 599, 643, 645, 654, 656, 661, 676, 682, 683, 686, 694, 698, 699, 700, 702, 706, 707, 708, 710, 711, 712, 732, 738, 744, 750, 752, 757, 763, 765, 768, 771, 772, 774, 778, 779, 780, 785, 786, 787, 788, 789, 790, 793, 795, 801, 810, 812, 822, 825, 830, 832, 836, 841, 845, 847, 849, 852, 858, 867, 873, 876, 879, 881, 887, 889, 891, 897, 899, 901, 905, 907, 909, 911, 913, 917, 919, 921, 923, 927, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 993, 995, 997, 998, 1001, 1003, 1007, 1009, 1011, 1013, 1015, 1023, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1049, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1069, 1073, 1075, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1095, 1099, 1103, 1105, 1111, 1115, 1117, 1125, 1127, 1133, 1135, 1137, 1139, 1141, 1145, 1151, 1153, 1155, 1157, 1159, 1163, 1167, 1169, 1171, 1175, 1177, 1179, 1181, 1183, 1185, 1187, 1189, 1193, 1197, 1199, 1203, 1205, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1227, 1229, 1231, 1233, 1237, 1239, 1241, 1243, 1245, 1247, 1249, 1251, 1253, 1257, 1259, 1261, 1263, 1265, 1269, 1273, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1293, 1295, 1297, 1299, 1301, 1303, 1305, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1325, 1329, 1331, 1335, 1337, 1341, 1343, 1345, 1349, 1351, 1353, 1357, 1361, 1363, 1367, 1369, 1371, 1375, 1377, 1379, 1381, 1383, 1385, 1387, 1389, 1391, 1393, 1395, 1397, 1399, 1401, 1405, 1409, 1411, 1415, 1417, 1419, 1421, 1425, 1427, 1429, 1431, 1433, 1435, 1441, 1443, 1445, 1449, 1453, 1455, 1459, 1461, 1463, 1465, 1467, 1469, 1471, 1473, 1475, 1477, 1479, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1501, 1503, 1507, 1511, 1513, 1515, 1517, 1519, 1521, 1523, 1525, 1529, 1531, 1533, 1535, 1537, 1539, 1541, 1543, 1545, 1547, 1555, 1557, 1559, 1563, 1565, 1567, 1571, 1573, 1575, 1577, 1583, 1587, 1589, 1591, 1595, 1597, 1599, 1601, 1603, 1605, 1607, 1609, 1611, 1613, 1615, 1617, 1619, 1621, 1625, 1627, 1635, 1637, 1641, 1643, 1649, 1651, 1653, 1655, 1657]
[29, 33, 34, 36, 40, 45, 59, 64, 65, 69, 80, 84, 87, 97, 113, 114, 117, 163, 181, 187, 191, 192, 193, 196, 197, 198, 199, 203, 207, 210, 213, 216, 218, 222, 223, 225, 227, 229, 230, 231, 236, 237, 240, 243, 246, 248, 250, 251, 254, 255, 257, 258, 259, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 278, 282, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 494, 510, 511, 533, 538, 543, 572, 586, 587, 599, 643, 645, 654, 656, 661, 676, 682, 683, 686, 694, 698, 699, 700, 706, 707, 708, 711, 712, 715, 732, 738, 744, 750, 752, 757, 763, 765, 768, 771, 772, 778, 780, 785, 787, 788, 789, 790, 793, 795, 801, 810, 812, 822, 825, 830, 832, 836, 841, 845, 847, 849, 852, 858, 867, 873, 879, 881, 887, 889, 891, 897, 899, 905, 907, 909, 911, 913, 917, 921, 923, 927, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 961, 963, 965, 967, 969, 971, 973, 977, 979, 981, 983, 985, 987, 989, 993, 995, 997, 998, 1001, 1003, 1007, 1009, 1011, 1013, 1015, 1027, 1029, 1031, 1033, 1039, 1041, 1043, 1045, 1047, 1049, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1073, 1075, 1079, 1081, 1085, 1087, 1089, 1091, 1095, 1099, 1111, 1117, 1119, 1125, 1127, 1133, 1135, 1137, 1139, 1141, 1145, 1151, 1153, 1157, 1159, 1163, 1167, 1169, 1171, 1175, 1177, 1179, 1181, 1185, 1187, 1189, 1193, 1197, 1199, 1203, 1205, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1227, 1229, 1233, 1237, 1241, 1243, 1247, 1249, 1251, 1257, 1261, 1263, 1265, 1269, 1273, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1293, 1295, 1297, 1301, 1303, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1321, 1325, 1329, 1331, 1335, 1337, 1341, 1343, 1345, 1349, 1351, 1353, 1357, 1361, 1363, 1367, 1375, 1377, 1379, 1381, 1385, 1387, 1389, 1391, 1393, 1397, 1399, 1401, 1405, 1409, 1411, 1415, 1417, 1421, 1425, 1427, 1431, 1433, 1435, 1441, 1443, 1449, 1453, 1459, 1461, 1463, 1467, 1469, 1471, 1473, 1475, 1477, 1479, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1501, 1503, 1507, 1511, 1513, 1517, 1519, 1521, 1523, 1525, 1529, 1531, 1535, 1537, 1539, 1541, 1543, 1545, 1547, 1551, 1555, 1557, 1559, 1563, 1565, 1567, 1571, 1573, 1575, 1577, 1583, 1587, 1589, 1591, 1595, 1597, 1599, 1601, 1603, 1605, 1607, 1611, 1615, 1617, 1619, 1621, 1625, 1627, 1631, 1635, 1637, 1639, 1641, 1643, 1645, 1647, 1649, 1651, 1653, 1655, 1657, 1659, 1661, 1663, 1665, 1667, 1671, 1673, 1675, 1677, 1679, 1681, 1685, 1687, 1693, 1695, 1697, 1699, 1701, 1703, 1705, 1707, 1709, 1711, 1713, 1717, 1719, 1721, 1723, 1725, 1727, 1729, 1731, 1733, 1735, 1737, 1741, 1743, 1745, 1749, 1753, 1755, 1757, 1759, 1761, 1767, 1769, 1771, 1772, 1773, 1775, 1777, 1779, 1783, 1785, 1787, 1789, 1791, 1793, 1795, 1797, 1799, 1801, 1803, 1805, 1807, 1809, 1811, 1815, 1817, 1819, 1821, 1823, 1825, 1827, 1829, 1831, 1835, 1837, 1839, 1849, 1851, 1853, 1855, 1857, 1861, 1871, 1875, 1877, 1879, 1881, 1883, 1885, 1887, 1889, 1891, 1893, 1895, 1897, 1899, 1901, 1903, 1907, 1909, 1911, 1915, 1917, 1919, 1921, 1927, 1929, 1931, 1935, 1937, 1941, 1943, 1945, 1947, 1949, 1951, 1953, 1955, 1957, 1959, 1961, 1963, 1965, 1967, 1971, 1975, 1977, 1981, 1983, 1985, 1987, 1989, 1991, 1993, 1995, 1997, 1999, 2001, 2005, 2007, 2009, 2013, 2017, 2019, 2021, 2025, 2027, 2029, 2035, 2037, 2041, 2043, 2047, 2049, 2051, 2053, 2055, 2057, 2061, 2063, 2065, 2067, 2069, 2073, 2079, 2081, 2083, 2085, 2087, 2089, 2091, 2093, 2097, 2101, 2103, 2111, 2113, 2115, 2117, 2119, 2121, 2123, 2125, 2127, 2129, 2131, 2133, 2137, 2141, 2143, 2145, 2147, 2149, 2151, 2155, 2159, 2161, 2163, 2165]
[27, 29, 33, 34, 40, 41, 45, 59, 64, 65, 69, 80, 87, 97, 112, 113, 117, 163, 181, 187, 191, 192, 193, 196, 197, 199, 203, 207, 213, 216, 218, 222, 223, 225, 227, 229, 230, 233, 236, 237, 240, 243, 246, 248, 250, 251, 254, 255, 257, 258, 259, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 278, 282, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 494, 510, 511, 533, 538, 543, 572, 586, 587, 599, 643, 654, 656, 661, 676, 682, 683, 686, 694, 698, 699, 700, 706, 707, 708, 711, 712, 715, 732, 738, 744, 750, 752, 757, 763, 765, 768, 771, 772, 778, 785, 786, 787, 788, 789, 790, 793, 795, 801, 810, 812, 822, 825, 832, 836, 841, 845, 847, 849, 852, 858, 867, 873, 879, 881, 887, 889, 891, 897, 899, 905, 907, 909, 911, 913, 917, 921, 923, 927, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 961, 963, 965, 967, 969, 971, 973, 977, 979, 981, 983, 985, 987, 989, 993, 995, 997, 1001, 1003, 1009, 1011, 1013, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1073, 1075, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1095, 1099, 1111, 1119, 1133, 1135, 1137, 1139, 1141, 1145, 1151, 1153, 1157, 1159, 1163, 1167, 1169, 1175, 1177, 1179, 1181, 1185, 1187, 1189, 1193, 1197, 1199, 1203, 1205, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1227, 1229, 1233, 1237, 1241, 1243, 1247, 1249, 1251, 1257, 1261, 1263, 1265, 1269, 1273, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1293, 1295, 1297, 1301, 1303, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1321, 1325, 1329, 1335, 1337, 1341, 1343, 1345, 1349, 1351, 1353, 1357, 1361, 1363, 1367, 1375, 1377, 1379, 1381, 1387, 1389, 1393, 1397, 1399, 1401, 1405, 1409, 1411, 1415, 1417, 1421, 1425, 1427, 1431, 1433, 1441, 1443, 1449, 1453, 1463, 1469, 1471, 1473, 1475, 1477, 1479, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1501, 1503, 1507, 1511, 1513, 1517, 1519, 1521, 1523, 1525, 1529, 1531, 1535, 1539, 1541, 1543, 1545, 1551, 1555, 1557, 1559, 1563, 1565, 1575, 1577, 1583, 1587, 1589, 1591, 1595, 1597, 1599, 1601, 1605, 1607, 1611, 1615, 1617, 1619, 1621, 1625, 1631, 1635, 1637, 1639, 1641, 1643, 1645, 1647, 1649, 1651, 1653, 1655, 1657, 1659, 1661, 1663, 1665, 1667, 1673, 1675, 1677, 1679, 1681, 1685, 1687, 1689, 1695, 1697, 1699, 1701, 1703, 1705, 1709, 1711, 1713, 1717, 1719, 1721, 1723, 1725, 1727, 1729, 1731, 1735, 1737, 1741, 1743, 1749, 1753, 1755, 1757, 1759, 1761, 1769, 1771, 1775, 1777, 1779, 1783, 1785, 1787, 1789, 1791, 1793, 1795, 1797, 1799, 1801, 1803, 1805, 1807, 1809, 1811, 1815, 1817, 1819, 1821, 1823, 1825, 1827, 1829, 1831, 1835, 1837, 1839, 1849, 1851, 1853, 1855, 1857, 1861, 1871, 1875, 1877, 1879, 1881, 1883, 1885, 1887, 1891, 1893, 1895, 1897, 1899, 1901, 1907, 1909, 1911, 1915, 1917, 1919, 1921, 1935, 1937, 1941, 1943, 1945, 1947, 1949, 1951, 1953, 1955, 1959, 1961, 1963, 1965, 1967, 1971, 1973, 1977, 1981, 1983, 1985, 1987, 1989, 1991, 1993, 1995, 1999, 2005, 2007, 2009, 2011, 2013, 2019, 2021, 2025, 2027, 2029, 2035, 2037, 2041, 2043, 2047, 2049, 2051, 2053, 2055, 2057, 2061, 2063, 2065, 2067, 2069, 2073, 2081, 2085, 2087, 2089, 2091, 2093, 2097, 2101, 2103, 2107, 2111, 2113, 2115, 2119, 2121, 2123, 2125, 2127, 2129, 2131, 2133, 2137, 2139, 2141, 2145, 2147, 2149, 2151, 2155, 2159, 2161, 2163, 2165, 2167, 2169, 2171, 2173, 2175, 2179, 2181, 2185, 2189, 2193, 2195, 2197, 2199, 2201, 2207, 2211, 2213, 2215, 2217, 2219, 2225, 2227, 2229, 2231, 2237, 2241, 2243, 2245, 2247, 2249, 2253, 2257, 2259, 2261, 2263, 2265, 2267, 2269, 2271, 2273, 2275, 2279, 2283, 2287, 2291, 2293, 2295, 2297, 2299, 2303, 2307, 2309, 2311, 2313, 2315, 2317, 2319, 2321, 2323, 2327, 2329, 2331, 2335, 2337, 2339, 2341, 2345, 2347, 2349, 2353, 2355, 2357, 2359, 2361, 2363, 2365, 2367, 2369, 2377]
[27, 29, 33, 34, 40, 41, 45, 59, 64, 65, 69, 80, 84, 87, 97, 112, 113, 117, 163, 173, 187, 191, 192, 193, 196, 197, 199, 203, 207, 213, 216, 218, 222, 223, 225, 227, 229, 230, 233, 236, 237, 240, 243, 246, 248, 250, 251, 254, 255, 257, 258, 259, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 278, 282, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 494, 510, 511, 533, 538, 572, 586, 587, 599, 643, 654, 661, 676, 682, 683, 686, 694, 698, 699, 700, 706, 707, 708, 711, 712, 715, 732, 738, 744, 750, 752, 757, 763, 765, 768, 771, 772, 778, 785, 787, 788, 789, 790, 793, 795, 801, 810, 822, 825, 832, 836, 841, 845, 847, 849, 852, 858, 867, 873, 879, 881, 887, 889, 891, 897, 899, 905, 907, 909, 911, 913, 917, 921, 923, 927, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 961, 963, 965, 967, 969, 971, 973, 977, 979, 981, 985, 987, 989, 993, 995, 997, 1001, 1003, 1009, 1011, 1013, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1073, 1075, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1095, 1099, 1111, 1119, 1133, 1135, 1137, 1141, 1145, 1151, 1153, 1157, 1159, 1163, 1167, 1169, 1175, 1177, 1179, 1181, 1185, 1187, 1189, 1193, 1195, 1197, 1199, 1203, 1205, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1227, 1229, 1233, 1237, 1241, 1243, 1247, 1251, 1257, 1261, 1263, 1265, 1269, 1273, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1295, 1297, 1301, 1303, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1321, 1325, 1329, 1335, 1337, 1341, 1343, 1345, 1349, 1351, 1353, 1357, 1361, 1363, 1367, 1375, 1377, 1379, 1381, 1387, 1393, 1397, 1399, 1401, 1405, 1415, 1417, 1421, 1425, 1427, 1431, 1433, 1443, 1449, 1453, 1463, 1469, 1471, 1473, 1477, 1479, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1501, 1503, 1507, 1511, 1513, 1517, 1519, 1521, 1523, 1529, 1531, 1535, 1537, 1539, 1541, 1543, 1545, 1551, 1555, 1557, 1559, 1563, 1565, 1575, 1577, 1583, 1587, 1591, 1595, 1597, 1599, 1605, 1607, 1611, 1615, 1617, 1619, 1621, 1625, 1631, 1635, 1637, 1639, 1641, 1643, 1645, 1647, 1649, 1651, 1653, 1655, 1657, 1659, 1661, 1663, 1665, 1667, 1671, 1673, 1675, 1677, 1679, 1681, 1685, 1687, 1689, 1697, 1699, 1701, 1703, 1705, 1709, 1713, 1717, 1719, 1721, 1723, 1725, 1727, 1729, 1731, 1735, 1737, 1741, 1743, 1749, 1753, 1755, 1757, 1759, 1769, 1775, 1777, 1783, 1785, 1787, 1789, 1793, 1795, 1797, 1799, 1801, 1803, 1805, 1807, 1809, 1811, 1815, 1817, 1819, 1821, 1823, 1827, 1829, 1831, 1835, 1837, 1839, 1849, 1851, 1853, 1855, 1857, 1861, 1871, 1873, 1875, 1877, 1879, 1881, 1883, 1885, 1887, 1891, 1895, 1897, 1899, 1907, 1909, 1911, 1915, 1917, 1919, 1921, 1929, 1935, 1937, 1941, 1945, 1947, 1949, 1951, 1953, 1955, 1959, 1961, 1963, 1965, 1967, 1971, 1977, 1979, 1981, 1983, 1985, 1989, 1991, 1993, 1995, 1999, 2005, 2007, 2009, 2011, 2013, 2019, 2021, 2025, 2027, 2029, 2035, 2037, 2039, 2041, 2043, 2047, 2049, 2051, 2053, 2055, 2057, 2061, 2063, 2065, 2067, 2069, 2071, 2073, 2081, 2085, 2087, 2089, 2091, 2093, 2097, 2101, 2103, 2107, 2111, 2113, 2115, 2119, 2121, 2123, 2125, 2127, 2131, 2133, 2137, 2139, 2141, 2147, 2159, 2161, 2163, 2165, 2167, 2169, 2171, 2173, 2175, 2181, 2185, 2189, 2193, 2195, 2197, 2201, 2207, 2211, 2213, 2215, 2217, 2219, 2225, 2227, 2229, 2231, 2237, 2241, 2243, 2245, 2247, 2253, 2259, 2263, 2265, 2267, 2269, 2271, 2273, 2275, 2279, 2283, 2287, 2291, 2293, 2295, 2297, 2299, 2303, 2307, 2309, 2311, 2313, 2315, 2317, 2319, 2321, 2327, 2335, 2337, 2339, 2341, 2345, 2347, 2349, 2353, 2355, 2357, 2361, 2363, 2367, 2369, 2377, 2379, 2383, 2385, 2387, 2389, 2391, 2422, 2462, 2466, 2470, 2474]
[27, 29, 33, 34, 40, 45, 59, 64, 65, 69, 80, 97, 112, 113, 114, 163, 187, 191, 193, 196, 197, 199, 201, 203, 207, 213, 216, 218, 222, 223, 225, 226, 227, 229, 230, 232, 233, 236, 237, 240, 243, 248, 250, 251, 254, 255, 257, 258, 259, 260, 262, 264, 265, 266, 267, 269, 270, 272, 277, 280, 282, 329, 341, 345, 355, 363, 368, 369, 371, 385, 409, 420, 437, 465, 468, 473, 474, 510, 511, 538, 572, 586, 587, 599, 643, 654, 661, 676, 682, 683, 686, 694, 700, 706, 707, 708, 711, 712, 715, 732, 744, 750, 752, 757, 763, 765, 768, 771, 772, 778, 785, 787, 788, 790, 793, 795, 801, 812, 822, 825, 832, 836, 841, 847, 849, 852, 858, 867, 873, 881, 887, 889, 891, 897, 899, 905, 907, 909, 911, 913, 917, 921, 923, 927, 931, 935, 937, 939, 943, 945, 947, 949, 951, 953, 955, 957, 961, 963, 965, 967, 969, 971, 973, 979, 981, 985, 987, 989, 993, 995, 997, 1001, 1003, 1009, 1011, 1013, 1015, 1027, 1029, 1031, 1033, 1035, 1037, 1039, 1041, 1043, 1045, 1047, 1051, 1053, 1055, 1059, 1063, 1065, 1067, 1073, 1075, 1079, 1081, 1083, 1085, 1087, 1089, 1091, 1095, 1099, 1111, 1119, 1133, 1135, 1137, 1141, 1145, 1151, 1153, 1157, 1159, 1163, 1167, 1169, 1175, 1177, 1179, 1181, 1185, 1187, 1189, 1193, 1195, 1197, 1199, 1203, 1205, 1211, 1213, 1215, 1217, 1219, 1221, 1223, 1227, 1233, 1237, 1241, 1243, 1247, 1251, 1257, 1261, 1263, 1265, 1269, 1273, 1277, 1279, 1281, 1283, 1285, 1287, 1289, 1291, 1295, 1297, 1301, 1303, 1307, 1309, 1311, 1313, 1315, 1317, 1319, 1321, 1325, 1329, 1335, 1337, 1341, 1343, 1345, 1349, 1351, 1353, 1357, 1361, 1363, 1367, 1375, 1377, 1379, 1381, 1387, 1393, 1397, 1399, 1401, 1415, 1417, 1421, 1425, 1427, 1431, 1433, 1443, 1449, 1453, 1459, 1463, 1469, 1471, 1473, 1477, 1479, 1483, 1485, 1487, 1489, 1491, 1493, 1495, 1497, 1501, 1503, 1507, 1511, 1513, 1517, 1519, 1521, 1523, 1529, 1531, 1535, 1537, 1539, 1541, 1543, 1545, 1551, 1555, 1557, 1559, 1563, 1565, 1575, 1577, 1583, 1587, 1591, 1595, 1597, 1599, 1601, 1605, 1607, 1611, 1615, 1617, 1619, 1621, 1625, 1631, 1635, 1637, 1639, 1643, 1645, 1647, 1649, 1651, 1653, 1657, 1659, 1661, 1663, 1665, 1667, 1673, 1675, 1677, 1679, 1681, 1685, 1687, 1689, 1695, 1697, 1699, 1701, 1703, 1705, 1709, 1713, 1717, 1721, 1725, 1727, 1729, 1731, 1735, 1737, 1741, 1743, 1749, 1753, 1755, 1757, 1759, 1761, 1769, 1775, 1777, 1785, 1787, 1789, 1793, 1797, 1799, 1801, 1803, 1805, 1807, 1809, 1811, 1815, 1817, 1819, 1821, 1829, 1831, 1835, 1837, 1839, 1849, 1851, 1853, 1855, 1857, 1861, 1871, 1873, 1875, 1877, 1879, 1881, 1883, 1885, 1887, 1889, 1891, 1895, 1897, 1899, 1909, 1911, 1915, 1917, 1919, 1921, 1929, 1935, 1937, 1941, 1945, 1947, 1949, 1951, 1953, 1955, 1959, 1961, 1963, 1965, 1967, 1971, 1977, 1979, 1981, 1985, 1987, 1989, 1991, 1993, 1995, 1999, 2005, 2007, 2009, 2011, 2013, 2019, 2021, 2025, 2027, 2029, 2035, 2037, 2039, 2041, 2043, 2047, 2049, 2051, 2053, 2055, 2057, 2061, 2063, 2067, 2069, 2073, 2081, 2085, 2087, 2089, 2091, 2093, 2097, 2101, 2103, 2107, 2111, 2113, 2115, 2119, 2121, 2123, 2125, 2127, 2131, 2133, 2137, 2139, 2141, 2147, 2159, 2163, 2165, 2167, 2169, 2171, 2173, 2175, 2181, 2185, 2189, 2193, 2195, 2197, 2201, 2207, 2211, 2213, 2215, 2217, 2219, 2225, 2227, 2229, 2231, 2237, 2241, 2243, 2245, 2247, 2253, 2259, 2263, 2265, 2267, 2271, 2273, 2275, 2279, 2283, 2287, 2291, 2295, 2297, 2299, 2303, 2307, 2309, 2311, 2313, 2315, 2317, 2319, 2321, 2327, 2335, 2337, 2339, 2341, 2345, 2347, 2349, 2353, 2355, 2357, 2361, 2363, 2367, 2369, 2377, 2379, 2383, 2385, 2387, 2389, 2400, 2404, 2408, 2410, 2412, 2414, 2418, 2420, 2422, 2424, 2426, 2430, 2432, 2438, 2440, 2446, 2448, 2450, 2452, 2456, 2462, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2486, 2490, 2492, 2494, 2496, 2498, 2502, 2504, 2508, 2510, 2514, 2516, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2544, 2548, 2550, 2552, 2556, 2558, 2562, 2564, 2568, 2572, 2574, 2576, 2578, 2580, 2582, 2588, 2590, 2596, 2598, 2600, 2604, 2606, 2610, 2612, 2614, 2616, 2620, 2622, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2676, 2678, 2680, 2682, 2684, 2692, 2694, 2698, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2738, 2744, 2746, 2748, 2750, 2752, 2754, 2758, 2760, 2762, 2766, 2768, 2770, 2772, 2776, 2778, 2780, 2784, 2788, 2790, 2792, 2794, 2798, 2804, 2806, 2808, 5722]

In [74]:
# 이중 for문을 이용해 각 row의 month1은 해당 달의 신규접속자, month2부터 month7까지는 month1 이후 수 달 동안 몇 명의 신규접속자가 접속했는지 계산하여 각 위치에 값을 기입한다.
checked = set()
for i in range(5,12) :
  for j in range(i,12) :
    if i==j :
      if i==5 :
        firstmon = set(list(monthlyusers.loc[i,:])[0])
      else :
        firstmon = set(list(monthlyusers.loc[i,:])[0]) - checked
      checked = checked|firstmon
      mautable.loc[i,'month1'] = len(firstmon)
    else :
      mautable.loc[i,'month'+str(j-i+1)] = len(set(list(monthlyusers.loc[j,:])[0]).intersection(firstmon))

In [75]:
mautable

   month1 month2 month3 month4 month5 month6 month7
5     281    262    237    229    224    213    206
6     197    175    160    150    148    145    NaN
7     211    189    175    167    155    NaN    NaN
8      84     73     71     69    NaN    NaN    NaN
9      17     14     13    NaN    NaN    NaN    NaN
10    150    124    NaN    NaN    NaN    NaN    NaN
11      9    NaN    NaN    NaN    NaN    NaN    NaN

* month1의 값들을 다 더해보면 총 userid 수인 949가 나오고 month2부터 month7는 재접속자가 몇 명인지 나타내고 있다.

%%번외

매월 가장 많이 접속한 유저(monthly most active user, MMAU)는 누구인가?

In [ ]:
%%sql

select month,userid as MMAU,access_times
from (
    select rank() over(partition by month order by access_times desc) as rnk,
    extract(month from ts) as month,
    userid,
    count(s.sessionid) as access_times
    from raw_data.session_timestamp s
    left join raw_data.user_session_channel u 
    on s.sessionid = u.sessionid
    group by 2,3
    order by 2,3
) where rnk = 1
order by 1;

 * postgresql://hankyoul0919:***@grepp-data.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(5, 80, 63),
 (6, 80, 66),
 (7, 1615, 94),
 (8, 989, 114),
 (9, 1615, 89),
 (10, 1615, 89),
 (11, 1615, 147)]